# defines a boot menu entry named "KFS-1"
# this name appears in the GRUB boot menu
menuentry "KFS-1" {

	# loads kernel.bin using the Multiboot protocol
	# /boot/kernel.bin is the path inside the ISO image
	# Multiboot tells GRUB to look for the Multiboot header in the binary
	multiboot /boot/kernel.bin

	# start the boot process with the loaded kernel
	boot
}